@import url(https://fonts.bunny.net/css?family=poppins);
html {
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(57, 40, 159);
    background: linear-gradient(
        87deg,
        rgba(57, 40, 159, 1) 0%,
        rgba(66, 47, 156, 1) 100%
    );
}

#app nav {
    font-size: 13px;
}

.content {
    padding: 20px 0px 63px 0px;
}
.content .container .c {
    text-align: center;
}

.content .card {
    border-radius: 10px;
    background-color: #1c140f;
    color: white;
    -webkit-box-shadow: 8px 5px 1px 5px rgba(158, 8, 158, 1);
    -moz-box-shadow: 8px 5px 1px 5px rgba(158, 8, 158, 1);
    box-shadow: 8px 5px 1px 5px rgba(158, 8, 158, 1);
}
.content .card a {
    text-decoration: none;
}
.content .card a:hover {
    text-decoration: underline;
}

.content .card .btn.ctas {
    background-color: #fa9021;
    color: white;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a,
.registered a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.signup {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}
.primary-button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: orange;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.primary-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}

@media (min-width: 768px) {
    .content .container .c {
        width: 50%;
        text-align: left;
    }
}
@media (max-width: 910px) {
    .content .container .c {
        width: 100%;
        text-align: center;
    }
}
